<h1>Lost in the Woods</h1>
<p>List of local hiking trails!</p>
@model Woods
<div class="container">
  <h2>Hover Rows</h2>
  <p>The .table-hover class enables a hover state on table rows:</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Trail Name</th>
        <th>Trail Length</th>
        <th>Elevation Change</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
<a href="/NewTrail" class="btn btn-default" role="button">Add a new Trail</a>