<h1>Add a New Trail</h1>

@model Woods
<form action="/create" method="post">
    <div class="form-group">
        <span asp-validation-for="Fname"></span>
        <label asp-for="Fname"></label>
        <input asp-for="Fname">
    </div>
    <div class="form-group">
        <span asp-validation-for="TrailName"></span>
        <label asp-for="TrailName"></label>
        <input asp-for="TrailName">
    </div>
    <div class="form-group">
        <span asp-validation-for="Description"></span>
        <label asp-for="Description"></label>
        <input asp-for="Description">
    </div>
    <div class="form-group">
        <span asp-validation-for="TrailLength"></span>
        <label asp-for="TrailLength"></label>
        <input asp-for="TrailLength">
    </div>
    <div class="form-group">
        <span asp-validation-for="Elevation"></span>
        <label asp-for="Elevation"></label>
        <input asp-for="Elevation">
    </div>
    <div class="form-group">
        <span asp-validation-for="Logitude"></span>
        <label asp-for="Logitude"></label>
        <input asp-for="Logitude">
        <input asp-for="Latitude">
    </div>
    <input type="submit" value="Create Record!">
</form>